.container {
  display: grid;
  height: 100vh;
  position: relative;
  place-items: center;
  background-color: var(--dark-p);
}

.textContainer {
  overflow: hidden;
  max-width: 60%;
  position: relative;
  margin-inline: var(--margin);
}

.container p {
  font-size: 40px;
  width: 100%;
  margin-inline: auto;
  line-height: 130%;
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.overlay {
  position: absolute;
  width: 60%;
  height: 80%;
  inset: 0;
}

@media (max-width: 1280px) {
  .textContainer {
    max-width: 80%;
  }
  .container p {
    font-size: 32px;
  }
}

@media (max-width: 800px) {
  .textContainer {
    max-width: 100%;
  }
  .container p {
    font-size: 28px;
  }
}

@media (max-width: 540px) {
  .container p {
    font-size: 24px;
  }
}
