.container {
  /* margin-inline: var(--margin); */
  display: grid;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding-top: -100vh;
  overflow: hidden;
}

.container h2 {
  font-size: 140px;
  line-height: 100%;
  font-variation-settings: "wdth" 62;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  margin-inline: var(--margin);
}

.container p {
  font-weight: 500;
  font-size: 40px;
  margin-top: 16px;
  line-height: 140%;
  z-index: 1;
  position: relative;
  margin-inline: var(--margin);
}

.email {
  font-size: 64px;
  display: flex;
  margin-inline: var(--margin);
  flex-direction: column;
  padding-top: 200px;
}

.email button {
  font-size: 40px;
  color: var(--dark-p);
  background-color: var(--light-p);
  padding-inline: 0.8em;
  padding-block: 0.6em;
  width: max-content;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-variation-settings: "wdth" 62;
  line-height: 100%;
  letter-spacing: 0.03em;
  margin-top: 0.6em;
  border-radius: 10000px;
  z-index: 1;
  position: relative;
}

.email button:hover {
  cursor: pointer;
}

.inputWrapper {
  position: relative;
  z-index: 1;
}

.email input {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  font-variation-settings: "wdth" 62;
  font-weight: 600;
  background-color: transparent;
  outline: none;
  padding-bottom: 0.3em;
  border: none;
  color: var(--light-p);
  /* border-bottom: 3px solid var(--light-lc); */
}

.line {
  bottom: 0;
  width: 100%;
  background-color: var(--light-lc);
  height: 3px;
}

.email input::placeholder {
  color: var(--light-lc);
}

.glow {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  inset: 0;
  top: 10%;
  transform: scale(2.75);
}

.glow > img {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 36px;
}

.footer p {
  font-size: 16px;
}

.copyright {
  color: var(--light-lc);
}

.contact a {
  text-decoration: underline;
}

.contact a:hover {
  color: var(--light-lc);
}

@media (max-width: 1280px) {
  .container h2 {
    font-size: 96px;
  }
  .container p {
    font-size: 28px;
    margin-top: 0px;
  }
  .email input {
    font-size: 48px;
  }
  .email button {
    font-size: 28px;
  }
  .email {
    padding-top: 150px;
  }
  .footer p {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .container h2 {
    font-size: 72px;
  }
  .container p {
    font-size: 24px;
  }
  .email input {
    font-size: 36px;
  }
  .email button {
    font-size: 24px;
  }
  .email {
    padding-top: 120px;
  }
  .footer p {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .container {
    padding-top: 180px;
  }
  .glow {
    transform: scale(1.5);
    height: 100%;
    width: 150%;
    top: 10%;
    left: -40%;
  }
  .container h2 {
    font-size: 48px;
  }
  .container p {
    font-size: 18px;
  }
  .email input {
    font-size: 24px;
  }
  .email button {
    font-size: 18px;
  }
  .email {
    padding-top: 60px;
  }
  .footer {
    flex-direction: column;
    gap: 6px;
  }
  .footer p {
    font-size: 12px;
  }
}
