.container {
  padding-block: 240px;
  margin-top: 240px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 40px;
  margin-inline: var(--margin);
  position: relative;
}

.bgText {
  position: absolute;
  width: calc(100vw + var(--margin) * 2);
  height: 100%;
  font-size: 4.2vw;
  text-transform: uppercase;
  color: var(--light-lc);
  font-weight: 600;
  z-index: 0;
  left: calc(50% - var(--margin));
  transform: translateX(-50%);
  line-height: 110%;
  opacity: 10%;
  overflow: hidden;
}

.bgText .line {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.bgText .line span {
  color: var(--accent);
}

.feature {
  border: 1px solid var(--light-lc);
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 40px 160px 40px #26262686;
  grid-column: span 5;
  border-radius: 48px;
  overflow: hidden;
  position: relative;
  background-color: var(--dark-p);
}

.feature:nth-child(2),
.feature:nth-child(5) {
  grid-column: span 7;
}

.feature h3 {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 40px;
  text-align: center;
  max-width: 80%;
  margin-inline: auto;
  z-index: 100;
}

.feature p {
  font-variation-settings: "wdth" 90;
  font-size: 20px;
  line-height: 130%;
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: center;
  max-width: 80%;
  margin-inline: auto;
  z-index: 100;
}

.crypto,
.wallet {
  position: absolute;
  width: 70vw;
  height: auto;
  aspect-ratio: 1200 / 503;
  top: -15vw;
  left: 50%;
  transform-origin: 50% -60%;
  transform: translateX(-50%);
}

.feature video {
  position: absolute;
  margin-inline: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.brain {
  width: 75%;
}

.radar {
  width: 65%;
}

.platform {
  width: 80%;
}

.overlay {
  width: 100%;
  height: 90%;
  bottom: 0;
  position: absolute;
  z-index: 3;
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 0) 20%,
    rgba(38, 38, 38, 1) 60%
  );
}

.glow {
  width: 100%;
  height: 40%;
  bottom: 0;
  position: absolute;
  z-index: 4;
  background-color: var(--accent);
  filter: blur(150px);
}

@media (max-width: 1600px) {
  .crypto,
  .wallet {
    top: -10vw;
  }
}
