.container {
  padding-block: 240px;
  margin-top: 240px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 40px;
  margin-inline: var(--margin);
  position: relative;
}

.bgText {
  position: absolute;
  width: calc(100vw + var(--margin) * 2);
  height: 100%;
  font-size: 4.2vw;
  text-transform: uppercase;
  color: var(--light-lc);
  font-weight: 600;
  z-index: 0;
  left: calc(50% - var(--margin));
  transform: translateX(-50%);
  line-height: 110%;
  opacity: 10%;
  overflow: hidden;
}

.bgText .line {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.bgText .line span {
  color: var(--accent);
}

.feature {
  border: 1px solid var(--light-lc);
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 40px 160px 40px #26262686;
  grid-column: span 5;
  border-radius: 48px;
  overflow: hidden;
  position: relative;
  background-color: var(--dark-p);
  color: var(--light-p);
}

.feature:nth-child(2),
.feature:nth-child(5) {
  grid-column: span 7;
}

.feature h3 {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 40px;
  text-align: center;
  max-width: 80%;
  margin-inline: auto;
  z-index: 100;
}

.feature p {
  font-variation-settings: "wdth" 90;
  font-size: 20px;
  line-height: 130%;
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: center;
  max-width: 80%;
  margin-inline: auto;
  z-index: 100;
}

.crypto,
.wallet {
  position: absolute;
  width: 70vw;
  height: auto;
  aspect-ratio: 1200 / 503;
  top: -15vw;
  left: 50%;
  transform-origin: 50% -60%;
  transform: translateX(-50%);
}

.feature video {
  position: absolute;
  margin-inline: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.brain {
  width: 75%;
}

.radar {
  width: 65%;
}

.platform {
  width: 80%;
}

.overlay {
  width: 100%;
  height: 90%;
  bottom: 0;
  position: absolute;
  z-index: 3;
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 0) 20%,
    rgba(38, 38, 38, 1) 60%
  );
}

.glow {
  width: 100%;
  height: 40%;
  bottom: 0;
  position: absolute;
  z-index: 4;
  background-color: var(--accent);
  -webkit-filter: blur(150px);
  -moz-filter: blur(150px);
  -ms-filter: blur(150px);
  filter: blur(150px);
}

@media (max-width: 1600px) {
  .crypto,
  .wallet {
    top: -10vw;
  }
  .feature {
    height: 32vw;
  }
}

@media (max-width: 1280px) {
  .container {
    gap: 20px;
    padding-block: 180px;
  }
  .crypto,
  .wallet {
    top: -15vw;
  }
  .feature {
    height: 30vw;
  }
  .platform {
    width: 70%;
  }
  .radar {
    width: 70%;
  }
  .brain {
    width: 70%;
  }
  .overlay {
    width: 100%;
    height: 90%;
    bottom: 10%;
  }
  .feature h3 {
    font-size: 32px;
    max-width: 95%;
  }
  .feature p {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 32px;
    max-width: 90%;
  }
}

@media (max-width: 1000px) {
  .bgText {
    font-size: 7vw;
  }
  .feature:nth-child(2),
  .feature:nth-child(5) {
    grid-column: 1 / end;
    height: 275px;
  }
  .feature:nth-child(3) {
    grid-column: 1 / 7;
    height: 320px;
  }
  .feature:nth-child(4) {
    grid-column: 7 / end;
    height: 320px;
  }
  .crypto,
  .wallet {
    width: 80vw;
  }
  .platform {
    width: 65%;
  }
  .brain {
    width: 90%;
  }
  .radar {
    width: 70%;
  }
  .overlay {
    height: 90%;
    bottom: 0;
  }
  .feature h3 {
    font-size: 24px;
    max-width: 95%;
  }
  .feature p {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 32px;
    max-width: 90%;
  }
}

@media (max-width: 800px) {
  .container {
    margin-top: 180px;
  }
  .glow {
    display: none;
  }
  .brainStill {
    width: 95%;
    transform: translateY(20%);
    margin-inline: auto;
  }
  .radarStill {
    width: 80%;
    transform: translateY(20%);
    margin-inline: auto;
  }
  .platformStill {
    width: 70%;
    transform: translateY(40%);
    margin-inline: auto;
  }
}

@media (max-width: 540px) {
  .container {
    margin-top: 120px;
  }
  .brainStill {
    position: absolute;
    inset: 0;
    top: -20px;
    width: 90%;
    transform: unset;
    margin-inline: auto;
  }
  .radarStill {
    position: absolute;
    inset: 0;
    top: -10px;
    width: 90%;
    transform: unset;
    margin-inline: auto;
  }
  .platformStill {
    position: absolute;
    inset: 0;
    top: 0px;
    width: 90%;
    transform: unset;
    margin-inline: auto;
  }
  .overlay {
    height: 60vw;
  }
  .feature:nth-child(2) {
    grid-column: 1 / end;
    height: 275px;
  }
  .container {
    padding-block: 120px;
  }
  .feature:nth-child(3) {
    grid-column: 1 / end;
    height: 360px;
  }
  .feature:nth-child(4) {
    grid-column: 1 / end;
    height: 360px;
  }
  .feature:nth-child(5) {
    grid-column: 1 / end;
    height: 360px;
  }
  .platform {
    width: 80%;
  }
  .radar {
    width: 80%;
  }
  .crypto,
  .wallet {
    width: 150vw;
    top: -120px;
  }
  .bgText {
    font-size: 12vw;
  }
}
