:root {
  --dark-p: #262626;
  --dark-lc: #383838;
  --grey-lc: #8e9194;
  --light-lc: #cacace;
  --light-p: #efeff1;
  --accent: #b56cef;

  --margin: 80px;
}

body,
html {
  font-family: var(--archivo);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--light-p);
  background-color: var(--dark-p);
}

h1,
h2,
h3,
p,
a {
  font-weight: unset;
  margin: 0;
  text-decoration: none;
  color: unset;
}

button {
  font: inherit;
  border: unset;
  outline: unset;
  background: unset;
}

@media (max-width: 1280px) {
  :root {
    --margin: 60px;
  }
}
@media (max-width: 800px) {
  :root {
    --margin: 40px;
  }
}
@media (max-width: 540px) {
  :root {
    --margin: 20px;
  }
  body,
  html {
    overflow-x: visible;
  }
}
