.container {
  margin-top: 240px;
  position: relative;
  display: grid;
  height: 100vh;
  text-align: center;
}

.container p {
  font-size: 160px;
  text-transform: uppercase;
  font-variation-settings: "wdth" 62;
  line-height: 90%;
  font-weight: 600;
}

.container img {
  width: 400px;
  height: auto;
  justify-self: center;
  margin-top: -250px;
  z-index: 101;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 10vh;
  z-index: 100;
}

.overlay {
  width: 50vw;
  height: 80vh;
  position: absolute;
  place-self: center;
  background-color: var(--dark-p);
  opacity: 0.75;
  filter: blur(5vw);
  z-index: 1;
}

.last {
  display: none;
}

@media (max-width: 1280px) {
  .container p {
    font-size: 120px;
  }
  .container img {
    width: 300px;
    margin-top: -375px;
  }
  .overlay {
    width: 50vw;
    height: 60vh;
  }
}

@media (max-width: 800px) {
  .container {
    overflow: hidden;
    margin-top: 200px;
  }
  .container p {
    font-size: 80px;
  }
  .container img {
    width: 230px;
    margin-top: -420px;
  }
  .overlay {
    width: 50vw;
    height: 40vh;
  }
}

@media (max-width: 540px) {
  .container {
    margin-top: 0;
  }
  .container p {
    font-size: 64px;
  }
  .container img {
    width: 180px;
    margin-top: -300px;
  }
}
